
.perfil {

    margin: 3vh;
    margin-top: 6vh;
    width: 23vh;
    border-radius: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
h1 {

    text-align: center;
    font-size: 2.3rem;

}
.container {

    width: 100%;
    margin-top: 16vh;
    text-align: center;
    font-size:calc(9px + 0.66vw);
    font-weight: lighter;

}
footer {

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3vh;
    text-align: center;
    font-size: 2.3vh;

}
.social {

    width: 4.3vh;
    border-radius: 100%;
    margin: 1.3vh;
    transition-duration: 0.3s;

} .social:hover {

    scale: 1.1;

}
.transition {

    transition-duration: 1.3s;

}


