.container {

    width: 100%;
    height: 67.6vh;
    margin-top: 1vh;
    font-size:calc(9px + 0.66vw);
    font-weight: lighter;
    overflow: auto;

}
#h1-container {

    width: 66%;
    min-width: 366px;
    max-width: 999px;
    margin: auto;
    margin-bottom: 4.99vh;

}
h1 {

    font-size: calc(9px + 2.66vh);
    margin-top: 5vh;

}
.subnautica {

    width: 66%;
    min-width: 366px;
    max-width: 999px;
    height: auto;
    max-height: 18.66vh;
    background: rgb(21, 21, 21);
    margin: auto;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    
    border-radius: 1.6vh;
    border: solid 3px rgb(09, 09, 09);
    box-shadow: 0px 6px 9px  rgb(21, 21, 21);

}
#img-subnautica {

    width: 66vw;
    max-width: 20.3vh;
    margin: 0;
    margin-left: -3px;
    margin-right: 3vh;
    float: left;

}
#text-container {

    background: none;
    padding: 3vh;
    padding-left: 1vw;

}
#h2-subnautica {

    color: #FFB91D;
    margin-bottom: 1.33vh;
    font-size:calc(9px + 0.99vw);

}
#p-subnautica {

    float: right;
    text-align: justify;

}
.ts4 {

    width: 66%;
    min-width: 366px;
    max-width: 999px;
    height: auto;
    max-height: 18.66vh;
    background: rgb(21, 21, 21);
    margin: auto;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    
    border-radius: 1.6vh;
    border: solid 3px rgb(09, 09, 09);
    box-shadow: 0px 3px 6px rgb(21, 21, 21);

}

#img-ts4 {

    width: 66vw;
    max-width: 20.3vh;
    margin: 0;
    margin-left: -3px;
    margin-right: 3vh;
    float: left;
}
#h2-ts4 {

    color: #3E9231;
    margin-bottom: 1.33vh;
    font-size:calc(9px + 0.99vw);

}
#p-ts4 {

    float: right;
    text-align: justify;

}
.gta {

    width: 66%;
    min-width: 366px;
    max-width: 999px;
    height: auto;
    max-height: 18.66vh;
    background: rgb(21, 21, 21);
    margin: auto;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    
    border-radius: 1.6vh;
    border: solid 3px rgb(09, 09, 09);
    box-shadow: 0px 3px 6px rgb(21, 21, 21);

}

#img-gta {

    width: 66vw;
    max-width: 20.3vh;
    margin: 0;
    margin-left: -3px;
    margin-right: 3vh;
    float: left;
}
#h2-gta {

    color: #578620;
    margin-bottom: 1.33vh;
    font-size:calc(9px + 0.99vw);

}
#p-gta {

    float: right;
    text-align: justify;

}
footer {

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3vh;
    text-align: center;
    font-size: 2.3vh;

}
.social {

    width: 4.3vh;
    border-radius: 100%;
    margin: 1.3vh;
    transition-duration: 0.3s;

} .social:hover {

    scale: 1.1;

}
.transition {

    transition-duration: 1.3s;

}


