@media screen and (max-width: 947px) {

    #img-subnautica {

        margin-left: 1.6vh;
        margin-right: 1.3vh;

    }
    #img-ts4 {

        margin-left: 1.6vh;
        margin-right: 1.3vh;

    }
    #img-gta {

        margin-left: 1.6vh;
        margin-right: 1.3vh;

    }

}
